<html>
    <body>
        <fieldset class="container">
            <label style="color: darkorange; font-size: 30px; text-align: center; font-family: 'Courier New', Courier, monospace;" >Books Available</label>
            <table class="table table-bordered mt-2 table-hover">
                <thead class="thead-dark">
                <tr>
                  <th>BookId</th>
                  <th>BookName</th>
                 <th>BookAuthor</th>
                </tr>
            </thead>
                <tr *ngFor="let book of books">
                    <td>{{book.bid}}</td>
                    <td>{{book.bname}}</td>
                    <td>{{book.author}}</td>
                 </tr>
                 <tr>
                     <button type="submit" (click)="AddBook()" class="btn btn-outline-success float-right" >AddBook</button>
                 </tr>
            </table>
        </fieldset>
    </body>
</html>

