
<html>
<body>
<form action="" class="col-md-4 offset-4 mt-5 card card-body float-right" #form="ngForm" (ngSubmit)="issuebook(form)">
    <h1 class="text-center bg-dark text-white">Book-issued-details</h1>
    <div class="form-group">
        <input type="number" name="bid" id="bid" class="form-control" placeholder="enter book id...." #bid="ngModel" ngModel required>
         <div *ngIf="bid.touched && bid.invalid">
            <p class ="alert alert-danger" *ngIf="bid.errors.required">*This field is required</p>
          </div>
    </div>
    

    <div class="form-group">
        <input type="date" name="issueDate" id="issueDate" class="form-control" placeholder="enter date...." #issueDate="ngModel" ngModel required>
        <div *ngIf="issueDate.touched && issueDate.invalid">
            <p class="aletr alert-danger" *ngIf="issueDate.errors.required">*This field is required</p>
        </div>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid">IssueBook</button>
    </div>
 </form>
</body>
</html>

