<html>
    <body>
<form action="" class="col-md-3 offset-5 mt-8 card card-body  float-right" #form="ngForm" (ngSubmit)="searchbook(form)">
    <h1 class="text-center bg-dark text-white">Search-Book</h1>
    <div class="form-group">
        <input type="number" name="bid" id="bid" class="form-control" placeholder="enter book id...." #id="ngModel" ngModel required>
    </div>
    
    
    <div class="form-group">
        <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid">Search-Book</button>
    </div>
 </form>
 <br>
 <br>
 <br>
 <br>
 <table class="table table-bordered col-md-3 offset-5 mt-8 table-hover float-right" *ngIf="books">
    <thead class="thead-dark">
        <tr class="text text-white">
            <th>BookId</th>
            <th>BokkName</th>
            <th>Author</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let book of books" >
            <td>{{book.bid}}</td>
            <td>{{book.bname}}</td>
            <td>{{book.author}}</td>
        </tr>
    </tbody>
</table>



</body>
</html>

